body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
header {
  display: flex;
  width: 100%;
  height: 110px;
  background-color: #044485;
}
#btnMenu {
  display: none;
}
header label {
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #00ffff;
}
header label:hover {
  cursor: pointer;
  background-color: rgba(247, 115, 7, 0.3);
}
#logoCm {
  width: 300px;
  height: 100px;
  background-image: url(../image/cmConsulting.jpg);
  background-size: cover;
  margin-left: 80px;
}
.menu ul {
  margin: 0px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  margin-left: 92px;
  margin-top: 30px;
}
.menu li {
  border-right: 1px solid #00ffff;
}
.menu li a {
  display: block;
  padding: 15px 20px;
  color: #00ffff;
  text-decoration: none;
}
.menu li a:hover,
li a :active {
  background: rgba(250, 144, 5, 0.3);
  color: #fff;
}
#asesor {
  width: 200px;
  height: 70px;
  background-image: url(../image/asesor.png);
  background-size: cover;
  margin-top: 20px;
  margin-left: 200px;
}
#presentacion {
  display: flex;
  background-color: #044485;
  margin-top: 3px;
  width: 100%;
  height: 645px;
}
#tuAsesor {
  width: 36%;
  height: 645px;
  background-color: #d8d8d8;
  border: 2px solid #fff;
}
#slider {
  display: block;
  width: 64%;
  height: 546px;
}
#nosotros {
  display: flex;
  width: 100%;
  height: 605px;
  margin-top: 2px;
}
.presentacion {
  width: 70%;
  height: auto;
  font-size: 25px;
  color: #044485;
  margin-top: 100px;
  margin-left: 90px;
}
#textoNos {
  width: 90%;
  height: auto;
  text-align: center;
  color: #00ffff;
  font-size: 26px;
  margin-top: 30px;
}
#queNosotros {
  width: 70%;
  background-color: #d8d8d8;
}
#asesorNosotros {
  width: 30%;
  background-color: #d8d8d8;
  border-left: 3px solid #fff;
}
footer {
  background-color: #044485;
  width: 100%;
  height: 150px;
  margin-top: 3px;
}
@media (max-width: 599px) {
  header label {
    display: block;
  }
  .menu {
    position: absolute;
    background-color: #044485;
    width: 100%;
    margin-left: -100%;
    transition: all 0.5s;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li {
    border-top: 1px solid #00ffff;
  }
  #btnMenu:checked ~ .menu {
    margin: 0px;
  }
}
